
.features-container {
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Gradient Circles */
.gradient-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.3;
    z-index: -1;
}

.gradient-one {
    background: linear-gradient(to right, #ff00ff, #ffbbff);
    top: 20%;
    left: 10%;
}

.gradient-two {
    background: linear-gradient(to right, #0099ff, #66ccff);
    top: 30%;
    right: 10%;
}

.gradient-three {
    background: linear-gradient(to right, #6600ff, #9966ff);
    bottom: 20%;
    left: 10%;
}

.gradient-four {
    background: linear-gradient(to right, #00cccc, #99ffff);
    bottom: 10%;
    right: 10%;
}


.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
}

.feature-reverse {
    flex-direction: row-reverse;
}

/* Feature Image */
.feature-image img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

/* Feature Line */
.feature-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.line {
    width: 2px;
    height: 50px;
    background: #ccc;
}

.circlep {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #666;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Feature Content */
.feature-content {
    text-align: left;
    max-width: 250px;
    line-height: 25px;
}

.feature-content h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.feature-content p {
    color: #666;
    margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature-reverse {
        flex-direction: column;
    }

    .feature-content {
        text-align: center;
    }
    .feature-image img {
        width: 250px;
    }
}